body {
    background-image: url("./img/2010.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Architects Daughter', cursive, serif;
}
/* Name Styling */
.navbar-brand {
    background-color: #6ed0f7;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid black;
}
/* nav-item's styling */
.nav-icon {
    color: black;
    background-color: #6ed0f7;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
}


.container-main {
    margin-bottom: 80px;
}


.header {
    color: #6ed0f7;
}

.container {
    background-color: white;
    border-radius: 2%;
}

.form-group {
    width: 65%;
    height: 100px;

}

.my-form {
    margin: 5% auto;
}

.my-button {
    margin: 0 auto;
    padding: 10%;
}
.card{ margin: 2%;
    border-radius: 2%;
}




footer {
    border-top: 5px solid #6ed0f7;
}



