body {
    background-image: url("./photo-1533035353720-f1c6a75cd8ab.jpeg");
}

.header {
    color: #6ed0f7;
}

.container {
    background-color: white;
}

.my-textarea {
    width: 50%;
    height: 100px;

}

.my-button {
    margin: 0 auto;
    padding: 10%;
}

.my-form {
    margin: 5% auto;
}

.img-fluid {
    margin: 10px auto;
}

.navbar-brand {
    background-color: #6ed0f7;
}

@media only screen and (max-width: 400px) {

    .my-container {
        max-width: 100%;
    }
}